.idea/
__pycache__/
workspace.code-workspace
packaging/PKGBUILD/easydot-gui/
packaging/PKGBUILD/pkg
packaging/PKGBUILD/src
packaging/PKGBUILD/*.pkg.*
packaging/fedora/noarch/*.rpm
packaging/fedora/*.src.rpm
packaging/fedora/*.log